@import url('https://fonts.googleapis.com/css?family=PT+Serif');

#banner {
	font-family: 'PT Serif';
	text-align: center;
	vertical-align: middle;
	font-size: 64px;
	padding: 150px;
}
#redirect {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	vertical-align: middle;
}
body {
	background-image: url("https://atmedia.imgix.net/06acdf7af156ff184206b87e18d64f619f5481c0?w=800&fit=max");
	background-repeat: no-repeat;
	background-size: cover;
}